@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');


/* General */
body {
    font-family: 'IBM Plex Sans', sans-serif !important;
}

.newlist-width {
    width: 40vw;
}

.instruction-row {
    padding: 16px 0 !important;
}

/* Remove the bootstrap toggle icon */
.dropdown-toggle::after {
    display: none !important;
}

/* Remove default blue colour from all <a> tags */
a {
    color: black !important;
    text-decoration: none !important;
}

.hidden-id {
    display: none;
}

/* Remove default radius from input box */
input {
    border-radius: 0px !important;
}

/* Left padding between edit button and delete button */
.left-padding {
    margin-left: 30px;
}

.left-padding-sm {
    margin-left: 20px;
}

/* Add space above elements */
.padding-top {
    margin-top: 16px;
}

/* Standard button to submit */
.custom-button {
    border: 4px solid black;
    font-weight: 500;
    font-size: 25px;
    background-color: white;
    margin: 16px 0;
}

/* To make the divs go edge to edge */
.container-fluid.full-width {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}

.row.row-no-gutter {
    margin: 0;
}

.row.row-no-gutter [class*="col-"] {
    padding: 0;
}

/* Header Row */
.header-row {
    margin-left: 33%;
    margin-top: 16px;
}

/* Navbar elements */
.navbar {
    color: black;
    border-bottom: 4px solid black;
    padding-left: 0px !important;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar-logo {
    color:black;
    font-size: 25px;
    font-weight: 500;
    margin-left: 5%;
}

.nav-link {
    font-size: 25px;
    font-weight: 500;
    color: black !important;
    padding-left: 0px !important;
}

.navbar-container {
    display: inline-block;
}

/*------------------------------------------------- Welcome Page */

.homepage-top-left {
    height: 30vh;
    border-bottom: solid black 4px;
}

.homepage-top-right {
    height: 70vh;
    width: 50vw;
    border-left: solid black 4px;
}

.top-right-picture {
    width: 50vw;
    height: 70vh;
    object-fit: cover;
}

.homepage-bottom-right {
    height: 30vh;
    border-top: solid black 4px;
}

.homepage-bottom-left {
    height: 70vh;
    width: 50vw;
    border-right: solid black 4px;
}

.bottom-left-picture {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.intro-copy {
    font-size: 3.5vw;
    font-weight: 600;
    padding: 2% 5% 0 5%;
}

.intro-body {
    font-size: 2.5vw;
    font-weight: 500;
    padding: 2% 5% 0 5%;
}

.intro-body-2 {
    font-size: 1.5vw;
    font-weight: 500;
    padding: 0 5% 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: baseline;
    padding-bottom: 0px;
}

.start-button {
    font-size: 10vh;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: baseline;
    padding-bottom: 0px;
}

/*------------------------------------------------- My Lists Page */

.mylist-container {
    border-bottom: 4px solid black;
    font-size: 25px;
    font-weight: 500;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 33%;
}

.list-name {
    text-decoration: underline !important;
}

.description {
    font-size: 20px;
}

/*------------------------------------------------- List Items Page */

.items-container {
    border-bottom: 4px solid black;
    font-size: 25px;
    font-weight: 500;
}

.item-image {
    max-height: 29vh;
    object-fit: contain;
    margin-right: 2vw;
    border-right: solid black 4px;
    border-left: solid black 4px;
}

.image-container {
    padding-top: 0;
    padding-bottom: 0;
    overflow-x: hidden;
}

.list-filter-styling {
    padding-left: 33%;
    padding-top: 16px;
    font-size: 20px;
}

.list-items {
    font-size: 20px;
    margin: 16px 0;
}

.list-items-bottom-border {
    border-bottom: 5px solid black;
}

.listitems-left-padding {
    margin-left: 16px;
}

.click-text {
    font-size: 20px;
    font-weight: 200;
    color: #D4D4D4
}

.website-link {
    text-decoration: underline !important; 
}

/*------------------------------------------------- New List Page */

/* Form additional padding on newlist and add items pages */
.form-left-padding {
    padding-left: 16px;
}

/*------------------------------------------------- Colors for hover page */

.navbar-logo:hover {
    background-color: #f5489a;
}

.navbar-logo:active {
    background-color: white;
}

.mylists-link:hover {
    background-color: #feeb2b;
}

.mylists-link:active {
    background-color: white;
}

.createlist-link:hover {
    background-color: #fdb8d4;
}

.createlist-link:active {
    background-color: white;
}

.additem-link:hover {
    background-color: #01a1e3;
}

.additem-link:active {
    background-color: white;;
}

.edit-button:hover {
    background-color: #6cb456;
}

.edit-button:active {
    background-color: white;
}

.delete-button:hover {
    background-color: #fa5453;
}

.delete-button:active {
    background-color :white;
}

.filter-button-1:hover {
    background-color: #af79cd;
}

.filter-button-1:active {
    background-color: white;
}

.filter-button-2:hover {
    background-color: #6cb456;
}

.filter-button-2:active {
    background-color: white;
}

.filter-button-3:hover {
    background-color: #feeb2b;
}

.filter-button-3:active {
    background-color: white;
}

.list-name:hover {
    background-color:#fdb8d4;
}

.list-name:active {
    background-color:white;
}

.custom-button:hover {
    background-color: #6cb456;
}

.custom-button:active {
    background-color: white;
}

.website-link:hover {
    background-color:#01a1e3;
}

.start-button-text:hover {
    background-color: #f5489a;
}

.start-button-text:active {
    background-color: white;
}


/*------------------------------------------------- Media Queries */

/* General */

@media only screen and (max-width: 425px) {
    .header-row {
        padding: 16px;
        margin: 0;
    }
}

/*------------------------------------------------- Welcome Page */

/* Below tablet size */
@media only screen and (max-width: 767px) {
  /* Links and buttons removing left margins */
    .createlist-link, .left-padding {
      margin: 0 0 0 0;
  }

  .homepage-top-right, .homepage-bottom-left {
      display: none;
  }

  .homepage-top-left {
      height: 35vh;
  }

  .homepage-bottom-right {
      border-top: none;
      border-left: none;
      height: 65vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("/static/images/mike-von-QW9FrzPj70U-unsplash.jpg");
  }

@media only screen and (max-width: 768px) {
    /* Text on intro page reducing in size */
    
    .intro-copy {
        font-size: 5vh;
        font-weight: 600;
        padding: 5% 5% 0 5%;
    }

    .intro-body {
        font-size: 2.5vh;
        font-weight: 500;
        padding: 2% 5% 0 5%;
    }

    .intro-body-2 {
        font-size: 3vh;
        font-weight: 600;
        padding: 0 5% 0 5%;
        color: white;
    }

    /* Start button on welcome page */
    .start-button-text {
        font-size: 75px;
        margin-top: 5vh;
        color: white;
    }
}

@media only screen and (max-width: 400px) {
    /* Logo no margins on small mobile */
    .navbar-logo {
        margin-left: 0px;
    }

    .logo-div {
        width: 80%;
        padding-left: 2vw !important;
    }
}

/*------------------------------------------------- My Lists Page */


@media only screen and (max-width: 620px) {
    .mylist-container {
        padding: 16px 16px 16px 20%; 
    }
}

@media only screen and (max-width: 425px) {
    /* Spacing around list and items info */
    .mylist-container {
        padding: 5%;
    }

    .list-filter-styling {
        padding: 5%;
        margin: 0;
    }

    .sm-button-style {
        font-size: 20px;
    }
}

/*------------------------------------------------- List Items Page */

@media only screen and (max-width: 768px) {
    /* Updating height in smaller screens */
    .item-image {
        height: 30vh;
        width: 40vw;
        object-fit: cover;
    }
}

@media only screen and (max-width: 425px) {
    /* Left margin between sort buttons */
    .left-padding-sm {
        margin: 0px;
    }

    /* Smaller text in smaller screens */
    .list-items {
        font-size: 16px;
        margin: 8px 0;
    }

    .list-items-sm-padding {
        padding-right: 5%;
    }

    .listitems-left-padding {
        margin-left: 0px;
    }

    .sm-linebreak {
        display: block;
    }
}

/*------------------------------------------------- Add Items Page */

@media only screen and (max-width: 425px) {
    /* Form width */
    .form-left-padding {
        padding-right: 16px;
    }
}

/*------------------------------------------------- New list Page */

@media only screen and (max-width: 425px) {
    /* Form width */
    .newlist-width {
        width: 100%;
    }
}

/*------------------------------------------------- Underlines and colors */

/* Underline colors replacing hover colors */
    .mylists-link {
        text-decoration: underline !important;
        text-decoration-color: #feeb2b !important;
    }

    .additem-link {
        text-decoration: underline !important;
        text-decoration-color: #01a1e3 !important;
    }

    .createlist-link {
        text-decoration: underline !important;
        text-decoration-color: #fdb8d4 !important;
    }

    .edit-button {
        text-decoration: underline !important;
        text-decoration-color: #6cb456 !important;
    }

    .delete-button {
        text-decoration: underline !important;
        text-decoration-color: #fa5453 !important;
    }

    .filter-button-1 {
        text-decoration: underline !important;
        text-decoration-color: #af79cd !important;
    }

    .filter-button-2 {
        text-decoration: underline !important;
        text-decoration-color: #6cb456 !important;
    }

    .filter-button-3 {
        text-decoration: underline !important;
        text-decoration-color: #feeb2b !important;
    }

    .website-link {
        text-decoration: underline !important;
        text-decoration-color: #01a1e3 !important;
    }

    .navbar-logo {
        text-decoration: underline !important;
        text-decoration-color: #f5489a !important;
    }

    /* .start-button-text {
        text-decoration: underline !important;
        text-decoration-color: #f5489a !important;
    } */

    .list-name {
        text-decoration: underline !important;
        text-decoration-color: #fdb8d4 !important;
    }
}