{% extends 'base.html' %}

{% block content %}

<div class="container-fluid full-width">

	<div class="row row-no-gutter">
		<div class="col-12 mylist-container"> 
            <p class="header-row">Add an item</p>
        </div>
	</div>

    <div class="row row-no-gutter">
		<div class="col-12">
			<div class="row mylist-container">
				<form action="{{ url_for('additem', list_id=list_items._id) }}" method="POST" class="form-left-padding">
                <div class="form-group">
                    <label for="exampleFormControlSelect1" class="fix-asap">List name (to be a preset value)</label>
                    <select class="form-control" id="list_name" name="list_name">
                        {% for item in list_items %}
                            <option value="{{ item.list_name }}">
                            {{ item.list_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Link to product (required)</label>
                    <input type="text" class="form-control" id="product_link" placeholder="Example input" name="product_link">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Brand (required)</label>
                    <input type="text" class="form-control" id="brand_name" placeholder="Example input" name="brand_name">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Category / product type (required)</label>
                    <select class="form-control" id="product_type" name="product_type">
                        <option>Trainers</option>
                        <option>Shirt</option>
                        <option>Trousers</option>
                        <option>Jacket</option>
                        <option>Skirt</option>
                        <option>Scarf</option>
                        <option>T-shirt</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Description (optional)</label>
                    <input type="text" class="form-control" id="item_description" name="item_description" placeholder="Item Description">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Price (required)</label>
                    <input type="text" class="form-control" id="item_price" placeholder="Example input" name="item_price">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">How much do I need this? (required)</label>
                    <select class="form-control" id="need_rating" name="need_rating">
                        <option>I'm being greedy</option>
                        <option>Kind of?</option>
                        <option>Not urgently</option>
                        <option>Need it and will use it every day</option>
                        <option>ASAP!</option>
                    </select>
                </div>
                <button type="submit" class="custom-button">Add Item</button>
                </form>
			</div>
		</div>
	</div>
</div>
{% endblock %}