<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Document</title>
</head>

<body>
	<div class="container-fluid full-width sticky">
		<div class="row row-no-gutter">
			<div class="col-12 sticky">
				<nav class="navbar navbar-expand-md navbar-light">
					<!-- Brand -->
					
                    <div class="col-4">
						<a class="navbar-logo" href="{{ url_for('mylists') }}">Want That</a>
					</div>
					<!-- Toggler/collapsibe Button -->
					<div class="col-8">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                        </button>
						<!-- Navbar links -->
						<div class="collapse navbar-collapse" id="collapsibleNavbar">
							<ul class="navbar-nav">
								<li class="nav-item inline">
									<a class="nav-link mylists-link" href="{{ url_for('mylists') }}">My Lists,</a>
								</li>
								<li class="nav-item inline">
									<a class="nav-link createlist-link left-padding"
										href="{{ url_for('newlist') }}">Create a list,</a>
								</li>
                                <!-- <li class="nav-item inline">
									<a class="nav-link additem-link left-padding fix-asap"
										href="">Add an item <strong>+</strong></a>
								</li> -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle left-padding additem-link fix-asap" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Add to a list
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    {% for items in navbar_location %}
                                        <a class="dropdown-item" href="{{ url_for('additem', list_id=items._id) }}">
                                        {{ items.list_name }}</a>
                                    {% endfor %}
                                    </div>
                                </li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
    <div>
        <div class="container-fluid full-width">
            <div class="row row-no-gutter">

                {% block content %}

                {% endblock %}

            </div>
        </div>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	</script>
</body>

</html>