{% extends 'base.html' %}

{% block content %}

<div class="container-fluid full-width">
    <div class="row row-no-gutter">
		<div class="col-12 mylist-container"> 
            <p class="header-row">Your list has been deleted</p>
        </div>
	</div>
    
    <div class="row row-no-gutter">
		<div class="col-12 mylist-container"> 
            <div class="col-12 instruction-row">
                <a href="{{ url_for('mylists') }}" class="header-row mylists-link">Go back to your lists</a>
            </div>
        </div>
	</div>
</div>

{% endblock %}