{% extends 'base.html' %}

{% block content %}
<div class="container-fluid full-width">

    <div class="row row-no-gutter">
		<div class="col-12 mylist-container"> 
            <p class="header-row">Edit a list</p>
        </div>
	</div>

	<div class="row row-no-gutter">
		<div class="col-12">
            <div class="row mylist-container">
                <form action="{{ url_for('editlist', list_id=list_info._id)}}" method="POST" class="form-left-padding newlist-width">
                    <div class="form-group">
                        <label for="formGroupExampleInput">List name</label>
                        <input type="text" class="form-control" id="list_name" placeholder="" name="list_name" value="{{ list_info.list_name }}">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">List description</label>
                        <input type="text" class="form-control" id="list_description" name="list_description" placeholder="" value="{{ list_info.list_description }}">
                    </div>
                    <button type="submit" class="custom-button">Edit List</button>
                </form>
            </div>
		</div>
	</div>
</div>

{% endblock %}