{% extends 'base.html' %}

{% block content %}

<h1> Edit Item </h1>
<form>
<p>{{ item_info.list_name }}</p>
<p>{{ item_info.brand_name }}</p>
<p>{{ item_info.product_type }}</p>
<p>{{ item_info.item_price }}</p>
<p>{{ item_info.need_rating }}</p>
</form>

<!-- <form action="{{ url_for('additem') }}" method="POST">
    <div class="form-group">
        <label for="exampleFormControlSelect1">List name (to be a preset value)</label>
        <select class="form-control" id="list_name" name="list_name">
            {% for name in list %}
                <option value="{{ name.list_name }}">{{ name.list_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Link to product (required)</label>
        <input type="text" class="form-control" id="product_link" placeholder="Example input" name="product_link">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Brand (required)</label>
        <input type="text" class="form-control" id="brand_name" placeholder="Example input" name="brand_name">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Category / product type (required)</label>
        <select class="form-control" id="product_type" name="product_type">
            <option>Trainers</option>
            <option>Shirts</option>
            <option>Trousers</option>
            <option>Jackets</option>
            <option>Skirts</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Description (optional)</label>
        <input type="text" class="form-control" id="item_description" name="item_description" placeholder="Item Description">
  </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Price (required)</label>
        <input type="text" class="form-control" id="item_price" placeholder="Example input" name="item_price">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">How much do I need this? (required)</label>
        <select class="form-control" id="need_rating" name="need_rating">
        <option>I'm being greedy</option>
        <option>Kind of?</option>
        <option>Not urgently</option>
        <option>Need it and will use it every day</option>
        <option>ASAP!</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Add Item</button>
</form> -->

{% endblock %}