{% extends 'base.html' %}

{% block content %}

<div class="container-fluid full-width">
    <div class="row row-no-gutter">
		<div class="col-12 mylist-container"> 
            <p class="header-row">Your item has been edited</p>
        </div>
	</div>
    <div class="row row-no-gutter">
		<div class="col-12 mylist-container"> 
            <div class="col-12 instruction-row">
                <a href="{{ url_for('listitems', list_id=_list._id) }}" class="header-row mylists-link">Go back to {{ _list.list_name }} list</a>
            </div>
        </div>
	</div>
</div>

{% endblock %}