{% extends 'base.html' %}

{% block content %}

<div class="container-fluid full-width">
    <div class="row row-no-gutter">
		<div class="col-12 mylist-container"> 
            <p class="header-row">List items</p>
        </div>
	</div>

	<div class="row row-no-gutter">
		<div class="col-12 mylist-container"> 
            <p class="list-filter-styling">Filter by: <a href="" class="filter-button-1">Brand, </a><a href="" class="filter-button-2 left-padding-sm">Price, </a><a href="" class="filter-button-3 left-padding-sm">Urgency</a></p>
        </div>
	</div>

	<div class="row row-no-gutter">
		<div class="col-12">
			{% for item in collection %}
			<div class="mylist-container">
				<a href="" class="list-name">{{ item.list_name }}</a>
				<p class="padding-top">{{ item.brand_name }}</p>
				<p>{{ item.product_type }}</p>
				<p>{{ item.item_description }}</p>
				<p>{{ item.item_price }}</p>
				<p>{{ item.need_rating }}</p>
				<a href="{{ url_for('edititem', item_id=item._id) }}" class="edit-button">Edit Item,</a>
				<a href="{{ url_for('deleteitem', item_id=item._id) }}" class="delete-button left-padding">Delete Item</a>
			</div>
			{% endfor %}
		</div>
	</div>

	<div class="col-12 general-margin">
		<a href="{{ url_for('additem') }}">Add item +</a>
	</div>
</div>
</div>

{% endblock %}