{% extends 'base.html' %}

{% block content %}

<div class="container-fluid full-width">
    <div class="row row-no-gutter">
		<div class="col-12 mylist-container"> 
            <p class="header-row">{{ list_items.list_name}} items list</p>
        </div>
	</div>

	<div class="row row-no-gutter">
		<div class="col-12 mylist-container">
            <p class="list-filter-styling">Sort by: <a href="{{ url_for('listitems_brand', list_id=list_items._id) }}" class="filter-button-1 left-padding-sm">Brand name, </a>
            <a href="{{ url_for('listitems_price', list_id=list_items._id) }}" class="filter-button-2 left-padding-sm">Price, </a>
            <a href="{{ url_for('listitems_urgency', list_id=list_items._id) }}" class="filter-button-3 left-padding-sm">Urgency</a></p>
        </div>
	</div>

	<div class="row row-no-gutter">
		<div class="col-12">
            {% for item in list_items['items'] | sort(case_sensitive=false, attribute="brand_name") %}
            <div class="row items-container">
                <div class="col-4 image-container">
                    <img src="{{ item.image_link }}" align="right" class="item-image" alt="preview of item in shopping list">
                </div>
                <div class="col-8 list-items">
                    <div class="col-12">
                        <a target="_blank" href="{{ item.product_link }}" class="padding-top website-link">{{ item.brand_name }} {{ item.product_type }}</a>
                        <p class="padding-top">{{ item.item_description }}</p>
                        <p>{{ item.item_price|int }} SEK</p>
                        <p>Urgency: {{ item.need_rating }}</p>
                        <a href="" class="edit-button">Edit Item,</a>
                        <a href="" class="delete-button left-padding">Delete Item</a>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="row mylist-container">
                <div class="col-12">
                    <a href="{{ url_for('additem', list_id=list_items._id) }}" class="add-to-list listitems-left-padding">Add to this list, </a>
                    <a href="{{ url_for('deletelist', list_id=list_items._id) }}" class="add-to-list listitems-left-padding fix-asap">Delete this list</a>
                </div>
            </div>
		</div>
	</div>
</div>

{% endblock %}