{% extends 'base.html' %}

{% block content %}

<div class="container-fluid full-width">
    <div class="row row-no-gutter">
		<div class="col-12 mylist-container"> 
            <p class="header-row">Items sorted by price</p>
        </div>
	</div>

	<div class="row row-no-gutter">
		<div class="col-12 mylist-container">
            <p class="list-filter-styling">Sort by: <a href="" class="filter-button-1">Brand, </a><a href="" class="filter-button-2 left-padding-sm">Price, </a><a href="" class="filter-button-3 left-padding-sm">Urgency</a></p>
        </div>
	</div>

	<div class="row row-no-gutter">
		<div class="col-12">
            <div class="row mylist-container">
                <div class="col-12">
                    <a href="" class="list-name listitems-left-padding">{{ list_items.list_name }}</a>
                </div>
            </div>
            {% for item in list_items['items'] %}
            <div class="row items-container">
                <div class="col-4 image-container">
                    <img src="{{ item.image_link }}" align="right" class="item-image">
                </div>                    
                <div class="col-8 list-items">
                    <a target="_blank" href="{{ item.product_link }}" class="padding-top website-link">{{ item.brand_name }} {{ item.product_type }}</a>
                    <p class="padding-top">{{ item.item_description }}</p>
                    <p>{{ item.item_price|int }} SEK</p>
                    <p>{{ item.need_rating }}</p>
                    <a href="{{ url_for('edititem', list_id=list_items._id,item_id=item._id) }}" class="edit-button">Edit Item,</a>
                    <a href="{{ url_for('deleteitem', list_id=list_items._id, item_id=item._id) }}" class="delete-button left-padding">Delete Item</a>
                </div>            
            </div>
            <div class="col-12">
                <img src="https://caliroots.com/images/608591/large/stussy-basic-stussy-tee-1904500-0001-svart.jpg">
            </div>
            {% endfor %}

            <div class="row mylist-container">
                <div class="col-12">
                    <a href="" class="add-to-list listitems-left-padding">Add to this list</a>
                </div>
            </div>
		</div>
	</div>
</div>

{% endblock %}