{% extends 'base.html' %}

{% block content %}

<div class="container-fluid full-width">
    <div class="row row-no-gutter">
		<div class="col-12 mylist-container"> 
            <p class="header-row">List items</p>
        </div>
	</div>

	<div class="row row-no-gutter">
		<div class="col-12 mylist-container">
            <p class="list-filter-styling">Filter by: <a href="" class="filter-button-1">Brand, </a><a href="" class="filter-button-2 left-padding-sm">Price, </a><a href="" class="filter-button-3 left-padding-sm">Urgency</a></p>
        </div>
	</div>

	<div class="row row-no-gutter">
		<div class="col-12">
            <div class="row mylist-container">
                <div class="col-12">
                    <a href="" class="list-name listitems-left-padding">{{ list_items.list_name }}</a>
                </div>
            </div>
            <div class="row mylist-container">
                <div class="col-12 list-items">
                    {% for item in list_items['items'] %}
                    <div class="col-12 listitems-left-padding">
                        <a target="_blank" href="{{ item.product_link }}" class="padding-top website-link">{{ item.brand_name }} {{ item.product_type }}</a>
                        <p class="padding-top">{{ item.item_description }}</p>
                        <p>{{ item.item_price }}</p>
                        <p>{{ item.need_rating }}</p>
                        <a href="{{ url_for('edititem', list_id=list_items._id,item_id=item._id) }}" class="edit-button">Edit Item,</a>
                        <a href="{{ url_for('deleteitem', item_id=item._id) }}" class="delete-button left-padding">Delete Item</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row mylist-container">
                <div class="col-12">
                    <a href="{{ url_for('additem', list_id=list_items._id) }}" class="add-to-list listitems-left-padding">Add to this list</a>
                </div>
            </div>
		</div>
	</div>
</div>

{% endblock %}