{% extends 'base.html' %}

{% block content %}

<div class="container-fluid full-width">
	<div class="row row-no-gutter">
		<div class="col-12">
            <div class="row">
                <div class="col-6">
                    <h1>Welcome to WANT THAT</h1>
                </div>
                <div class="col-6">
                    <h3>Intro copy</h3>
                    <a href="{{ url_for('mylists') }}">Go to my lists</a>
                </div>
            </div>
		</div>
	</div>
</div>

{% endblock %}