{% extends 'base.html' %}

{% block content %}

<div class="container-fluid full-width">
	<div class="row row-no-gutter">
		<div class="col-6">
            <div class="col-12 homepage-top-left">
                <p class="intro-copy">Seen something and thought <strong>WANT THAT</strong>?<br>Keep thinking that way.<br>With <strong>WANT THAT</strong>, you can create lists of all the things that are too important to forget.</p>
            </div>
            <div class="col-12 homepage-bottom-left">
                <img src="/static/images/mike-von-7qW_FmptFzQ-unsplash.jpg" alt="Man with white hat posing with red Human Made bag" class="bottom-left-picture">
            </div>
		</div>
        <div class="col-6">
            <div class="col-12 homepage-top-right">
                <img src="/static/images/mike-von-QW9FrzPj70U-unsplash.jpg" alt="Man in orange jacket crouching down" class="top-right-picture">
            </div>
            <div class="col-12 homepage-bottom-right">
                <a href="{{ url_for('mylists') }}" class="start-button"><p class="start-button-text">START</p></a>
            </div>
        </div>
	</div>
</div>

{% endblock %}